# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
build/
*.zip


# картинки шрифты итп
/assets/
/js/plugins/

# картинки шрифты итп
!src/scss/bootstrap
src/scss/bootstrap/*
!src/scss/bootstrap/bootstrap.scss
src/assets/fonts/*
src/assets/img/*

/js/plugins/
/node_modules/
/vendor/
/css/images/
/css/none.css
/db/
/css/donor/
/js/donor/

2do.css