# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
build/
*.zip


# картинки шрифты итп
src/assets/

# картинки шрифты итп
!src/scss/components/bootstrap
src/scss/components/bootstrap/*
!src/scss/components/bootstrap/bootstrap.scss
!src/scss/components/bootstrap/_variables.scss