<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Autolombard Subdomains</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    block header_nav
      include ./components/header_nav.html
    <main class="container-fluid">
      block first_screen
        include ./components/first_screen.html
      block types
        include ./components/types.html
      block calc
        include ./components/calc.html
      block advantages
        include ./components/advantages.html
      block horisontal_form
        include ./components/horisontal_form.html
      <div class="py-1"></div>
      block steps
        include ./components/steps.html
      block requirements
        include ./components/requirements.html
      block big_form
        include ./components/big_form.html
      block terms
        include ./components/terms.html
      block faq
        include ./components/faq.html
      block bottom_cta
        include ./components/bottom_cta.html
      block bottom_form
        include ./components/bottom_form.html
    </main>
    //- block footer
    //-   include ./components/footer.html
    <script defer="defer" src="js/jquery.min.js"></script>
    <script defer="defer" src="js/bootstrap.bundle.min.js"></script>
    <script defer="defer" src="js/main.min.js"></script>
  </body>
</html>