#bot_hunter {
  .col {
    .half-circle-left {
      color: $main;
      position: absolute;
      border-radius: 50%;
      z-index: 10;
      background: #fff;
      margin-left: -30px;
      text-align: right;
      padding: 0 30px;
      line-height: 100px;
      top: -15px;
      box-shadow: 0px 3px 20px #eaecef;
    }
    .ml-max {
      margin-left: 80px;
      line-height: 40px;
      margin-bottom: 0;
    }
  }
  .slick-next,
  .slick-prev {
    width: 50px;
    height: 50px;
    top: auto !important;
    transform: translate(0);
  }
  .slick-next {
    right: 45%;
  }
  .slick-prev {
    left: 45%;
    top: 100% !important;
  }
  .slick-next::before,
  .slick-prev::before {
    content: ' ';
    width: 50px;
    height: 50px;
    display: block;
    background-size: contain;
  }
  .slick-next::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' class='bi bi-arrow-right' fill='%2300b4e3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z'/%3E%3C/svg%3E");
  }
  .slick-prev::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' class='bi bi-arrow-left' fill='%2300b4e3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z'/%3E%3C/svg%3E");
  }

  @media(max-width:768px){
    .slick-next {
      right: 5%;
    }
    .slick-prev {
      left: 5%;
    }
    .h4{
      font-size: 1rem;
      white-space: normal !important;
    
    }
    .col{
      .ml-max{
        margin-left: 30px;
        line-height: 20px;
        text-align: center;
        width: calc(100% - 30px);
        min-width: 100px;
      }
      .half-circle-left{
        line-height: 25px;
        margin-left: -30px;
        padding: 20px;
        top: -7px;
      }
    }
    .shadow{
      max-height: 52px;
      padding: 0 1rem !important;
      min-height: 52px;
      display: flex;
      a{
        align-self:center;
      }
    }
  }
}
