#bottom_cta {
  .bg-lightgrey {
    @include media-mobile_default-max {
      background-color: #fff !important;
    }
  }
  img {
    margin-top: -16rem;
    transform: scale(-1, 1);
    @include media-tablet_portrait-max {
      margin-top: -8rem;
    }
    @include media-mobile_small-max {
      margin-left: -2rem;
    }
    @include media-mobile_default-max {
      height: 250px;
      width: auto !important;
      margin-bottom: 0;
      margin-top: auto;
    }
  }
  .subtitle {
    max-width: 350px;
  }
  @include media-mobile_small-max {
    button.btn {
      padding: 0.5rem 1rem;
      line-height: 1rem;
    }
    .h2 {
      font-size: 1.1rem;
    }
  }
}
