footer {
  .phone {
    font-size: 2rem;
    margin-left: -2.5rem;
    text-align: right;
    @include media-tablet-portrait-max {
      font-size: 1.6rem;
    }
    @include media-tablet_landscape-max {
      text-align: center;
    }
    @include media-mobile_default-max {
      margin-left: auto;
    }
  }
  .h6 {
    text-align: right;
    @include media-tablet_landscape-max {
      text-align: center;
      margin-left: -2.5rem;
      margin-top: 0.5rem;
    }
    @include media-mobile_default-max {
      margin-left: auto;
    }
  }
  li {
    padding: 7px 0;
  }
  .logo {
    img {
      max-width: 200px;
    }
  }
  @include media-tablet-portrait-max {
    .semibold,
    p,
    .h4 {
      text-align: center;
    }
  }
  @include media-mobile_default-max {
    .col {
      text-align: center;
      ul {
        margin-bottom: 0;
      }
    }
  }
}
