#types {
  .col > div {
    overflow: hidden;
    img {
      margin-left: -40%;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      transition: all 0.2s;
    }
    a {
      &:hover {
        img {
          transition: all 0.2s;
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);
        }
      }
    }
  }
}
