<section id="big_form" class="row bg-lightgrey py-5">
    <div class="container mx-auto my-5 p-5 bg-white rounded-xl ">
        <div class="row mb-5">
            <div class="col-6">
                <h2>Займ под залог ПТС — 100% одобрение</h2>
            </div>
            <div class="col-6 d-flex">
                <p class="bd-callout bd-callout-main pl-3 py-2 my-auto subtitle">Получите займ под залог ПТС на
                    выгодных условиях, даже с плохой кредитной историей, по 3
                    документам</p>
            </div>
        </div>
        <form class="row row-cols-3 mb-3">
            <div class="col">
                <input type="text" class="form-control mb-3" placeholder="Ваше имя">
                <input type="text" class="form-control" placeholder="Модель авто">
            </div>
            <div class="col pl-0 pr-4">
                <input type="text" class="form-control mb-3" placeholder="+7 (___) ___-__-__">
                <input type="text" class="form-control" placeholder="Сумма займа">
            </div>
            <div class="col pl-5">
                <button class="w-100 btn btn-main mb-3" type="submit">Получить
                    одобрение</button>
                <p class="smaller text-center">Нажимая на кнопку, вы даете согласие на обработку ваших персональных
                    данных
                </p>
            </div>
        </form>
    </div>
</section>