<section id="bottom_cta">
    <div class="row bg-lightgrey mt-5">
        <div class="container-fluid container-sm mx-auto">
            <div class="row bg-white">
                <div class="col-12 col-sm-6 offset-sm-6">
                    <h2>Остались вопросы?</h2>
                    <hr class="lil-hr lil-hr-main mr-auto ml-0">
                    <p class="subtitle">Наши специалисты круглосуточно ответят на любые ваши вопросы</p>
                </div>
            </div>
            <div class="row bg-white shadow-top-0">
                <div class="col-6 col-md-5 d-flex px-0">
                    <img class="w-100" src="img/hand_bottom.png" alt="">
                </div>
                <div class="col-6 offset-md-1">
                    <p class="h2 semibold mb-0 mt-4"><a href="tel:88003334554" class="text-main">8 800 333 45 54</a>
                    </p>
                    <p class="semibold text-muted mb-4">Звонок бесплатный</p>
                    <button class="btn btn-main mb-3">
                        Отправить заявку
                    </button>
                </div>
            </div>
        </div>
</section>