<section id="bottom_cta">
    <div class="row">
        <div class="col-4">
            <img src="img/steps_1.png" alt="">
        </div>
        <div class="col-4 offset-2">
            <h2>Остались вопросы?</h2>
            <hr class="lil-hr lil-hr-main mr-auto ml-0">
            <p>Наши специалисты круглосуточно ответят на любые ваши вопросы</p>
            <p class="h1"><a href="tel:88003334554" class="text-main">8 800 333 45 54</a></p>
            <p>Звонок бесплатный</p>
            <button class="btn btn-main">
                Отправить заявку
            </button>
        </div>
    </div>
</section>