<section id="bottom_cta" class="row bg-lightgrey mt-5">
    <div class="container mx-auto bg-white shadow-top-0">
        <div class="row">
            <div class="col-5">
                <img class="w-100" src="img/hand_bottom.jpg" alt="">
            </div>
            <div class="col-6 offset-1 pt-5">
                <h2>Остались вопросы?</h2>
                <hr class="lil-hr lil-hr-main mr-auto ml-0">
                <p class="subtitle">Наши специалисты круглосуточно ответят на любые ваши вопросы</p>
                <p class="h2 semibold mb-0 mt-4"><a href="tel:88003334554" class="text-main">8 800 333 45 54</a></p>
                <p class="semibold text-muted mb-4">Звонок бесплатный</p>
                <button class="btn btn-main">
                    Отправить заявку
                </button>
            </div>
        </div>
    </div>
</section>