<section id="faq" class="pb-5">
    <div class="container mx-auto mb-5">
        <div class="row my-5 pt-5 mx-0">
            <div class="col-7 pr-0">
                <h2>Ответы на вопросы от Автоломбард АвтоЗалог24</h2>
            </div>
            <div class="col-5 d-flex">
                <p class="bd-callout bd-callout-main pl-3 py-2 my-auto subtitle">
                    Ответы на популярные вопросы про работу автоломбарда</p>
            </div>
        </div>
        <div class="row">
            <div class="accordion w-100" id="faq_accordion">
                <div class="mb-3">
                    <div class="rounded-xl bg-lightblue" id="headingOne">

                        <button class="btn btn-link pl-5 collapsed d-flex" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <div class="rounded-circle bg-white shadow p-3">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect x="20" y="9" width="2" height="20" rx="1" transform="rotate(90 20 9)"
                                        fill="#00B4E3" />
                                    <rect x="11" y="20" width="2" height="20" rx="1" transform="rotate(-180 11 20)"
                                        fill="#00B4E3" />
                                </svg>
                            </div>
                            <span class="pl-3">
                                Как заложить машину в автоломбард под низкий процент?
                            </span>
                        </button>

                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faq_accordion">
                        <div class="bg-lightblue rounded-xl py-4 px-5">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="rounded-xl bg-lightblue" id="headingTwo">
                        <button class="btn btn-link pl-5 collapsed d-flex" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="rounded-circle bg-white shadow p-3">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect x="20" y="9" width="2" height="20" rx="1" transform="rotate(90 20 9)"
                                        fill="#00B4E3" />
                                    <rect x="11" y="20" width="2" height="20" rx="1" transform="rotate(-180 11 20)"
                                        fill="#00B4E3" />
                                </svg>
                            </div>
                            <span class="pl-3">
                                Какие преимущества автозалога по сравнению с кредитом в банке?
                            </span>
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq_accordion">
                        <div class="bg-lightblue rounded-xl py-4 px-5">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="rounded-xl bg-lightblue" id="headingThree">
                        <button class="btn btn-link pl-5 collapsed d-flex" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="rounded-circle bg-white shadow p-3">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect x="20" y="9" width="2" height="20" rx="1" transform="rotate(90 20 9)"
                                        fill="#00B4E3" />
                                    <rect x="11" y="20" width="2" height="20" rx="1" transform="rotate(-180 11 20)"
                                        fill="#00B4E3" />
                                </svg>
                            </div>
                            <span class="pl-3">
                                Когда авто остается у владельца нужно лить ставить GPS, и кто за это платит?
                            </span>
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#faq_accordion">
                        <div class="bg-lightblue rounded-xl py-4 px-5">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="rounded-xl bg-lightblue" id="headingFour">
                        <button class="btn btn-link pl-5 d-flex" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <div class="rounded-circle bg-white shadow p-3">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect x="20" y="9" width="2" height="20" rx="1" transform="rotate(90 20 9)"
                                        fill="#00B4E3" />
                                    <rect x="11" y="20" width="2" height="20" rx="1" transform="rotate(-180 11 20)"
                                        fill="#00B4E3" />
                                </svg>
                            </div>
                            <span class="pl-3">
                                Можно ли получить деньги в выходной день?
                            </span>
                        </button>
                    </div>
                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                        data-parent="#faq_accordion">
                        <div class="bg-lightblue rounded-xl py-4 px-5">
                            Автомобильный ломбард в Москве работает без выходных. Для подачи заявки можно использовать
                            сайт
                            компании или связаться с менеджерами по телефону. Дата, время и место встречи оговаривается
                            индивидуально. Получить предварительное одобрение можно по телефону сразу после обращения.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="rounded-xl bg-lightblue" id="headingFive">
                        <button class="btn btn-link pl-5 collapsed d-flex" type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <div class="rounded-circle bg-white shadow p-3">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect x="20" y="9" width="2" height="20" rx="1" transform="rotate(90 20 9)"
                                        fill="#00B4E3" />
                                    <rect x="11" y="20" width="2" height="20" rx="1" transform="rotate(-180 11 20)"
                                        fill="#00B4E3" />
                                </svg>
                            </div>
                            <span class="pl-3">
                                Я официально не работаю и не могу предоставить справку с работы. Можно ли получить
                                кредит в этом случае?
                            </span>
                        </button>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faq_accordion">
                        <div class="bg-lightblue rounded-xl py-4 px-5">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                            coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                            anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                            heard
                            of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>