<footer>
    <div class="container">

        <div class="row border-bottom">
            <div class="col-2">
                <h3>Контакты
                    автоломбарда</h3>
            </div>
            <div class="col-10 bd-callout bd-callout-main row row-cols-3">
                <div class="col">
                    <p class="h4">Адрес:</p>
                    <a href="#" class="text-main text-dashed">Ленинградский проспект, 31Ас1</a>
                </div>
                <div class="col">
                    <p class="h4">Электронная почта:</p>
                    <a href="mailto:info@autolombard-autozalog.ru"
                        class="text-main text-dashed">info@autolombard-autozalog.ru</a>
                </div>
                <div class="col">
                    <p class="h4">Часы работы:</p>
                    <p>Ежедневно с 8:00 до 20:00.
                        Прием заявок 24/7</p>
                </div>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-3">
                <div class="logo">
                    <img src="img/logo.png" alt="">
                </div>
                <p>Автоломбард «Автоломбард АвтоЗалог24» © 2020 год</p>
            </div>
            <div class="col-6 row row-colls-3">
                <div class="col">
                    <ul class="list-unstyled">
                        <li><a href="#">Автоломбард</a></li>
                        <li><a href="#">Займы под залог ПТС</a></li>
                        <li><a href="#">Займы под залог авто</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li><a href="#">Кредит под залог ПТС</a></li>
                        <li><a href="#">Кредит под залог ПТС</a></li>
                        <li><a href="#">Быстрые деньги</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li><a href="#">Юр. Лица</a></li>
                        <li><a href="#">Рефинансирование</a></li>
                        <li><a href="#">Калькулятор</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-3">
                <p class="h2">
                    <a href="tel:88003334554" class="text-main">8 800 333 45 54</a>
                </p>
                <p class="h6">Звонок бесплатный</p>
            </div>
        </div>
        <div class="row">
            Информация на сайте не является публичной офертой. Сервис «ПТС ЗАЙМ» оказывает содействие в подборе
            финансовых услуг компаний-партнеров и не является финансовым учреждением, банком, микрофинансовой
            организацией, лизинговой компанией, или ломбардом. Работа сайта autolombard-pts-zaim.ru не связана с
            осуществлением инвестиционной деятельности. Дополнительные и скрытые комиссии не взимаются. Все права
            защищены.

        </div>
    </div>
</footer>