<footer>
    <div class="container">
        <div class="row border-bottom pt-5 pb-4 mx-0">
            <div class="col-2 px-0">
                <p class="h4">Контакты автоломбарда</p>
            </div>
            <div class="col-10 row row-cols-3">
                <div class="col">
                    <div class=" bd-callout bd-callout-main pl-5 py-2 my-auto">
                        <p class="semibold mb-0">Адрес:</p>
                        <a href="#" class="smaller text-main text-dashed">Ленинсрадский проспект, 31Ас1</a>
                    </div>
                </div>
                <div class="col">
                    <div class="py-2 my-auto">
                        <p class="semibold mb-0">Электронная почта:</p>
                        <a href="mailto:info@autolombard-autozalog.ru"
                            class="smaller text-main text-dashed">info@autolombard-autozalog.ru</a>
                    </div>
                </div>
                <div class="col">
                    <div class="py-2 my-auto">
                        <p class="semibold mb-0">Часы работы:</p>
                        <p class="smaller text-nowrap mt-1">Ежедневно с 8:00 до 20:00. Прием заявок 24/7</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom pt-5 pb-4 mx-0">
            <div class="col-2 px-0">
                <div class="logo">
                    <img src="img/logo.png" alt="">
                </div>
                <p class="smaller text-muted mt-3">Автоломбард «Автоломбард АвтоЗалог24» © 2020 год</p>
            </div>
            <div class="col-10 pl-5">
                <div class="row row-colls-3">
                    <div class="col ml-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Автоломбард</a></li>
                            <li><a href="#">Займы под залог ПТС</a></li>
                            <li><a href="#">Займы под залог авто</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li><a href="#">Кредит под залог ПТС</a></li>
                            <li><a href="#">Кредит под залог ПТС</a></li>
                            <li><a href="#">Быстрые деньги</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li><a href="#">Юр. Лица</a></li>
                            <li><a href="#">Рефинансирование</a></li>
                            <li><a href="#">Калькулятор</a></li>
                        </ul>
                    </div>
                    <div class="col px-0">
                        <p class="phone text-right semibold mb-0 px-0">
                            <a href="tel:88003334554" class="text-main">8 800 333 45 54</a>
                        </p>
                        <p class="h6 text-right">Звонок бесплатный</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <p class="col-12 text-center text-muted smaller pt-3">
                Информация на сайте не является публичной офертой. Сервис «ПТС ЗАЙМ» оказывает содействие в подборе
                финансовых услуг компаний-партнеров и не является финансовым учреждением, банком, микрофинансовой
                организацией, лизинговой компанией, или ломбардом. Работа сайта autolombard-pts-zaim.ru не связана с
                осуществлением инвестиционной деятельности. Дополнительные и скрытые комиссии не взимаются. Все
                права защищены.
            </p>
        </div>
</footer>