<section id="types">

    <div class="container mx-auto mb-5">
        <div class="row my-5 pt-5">
            <div class="col-7 pr-0">
                <h2>Автоломбард под залог ПТС любой техники в городе Москва </h2>
            </div>
            <div class="col-5 d-flex">
                <p class="bd-callout bd-callout-main pl-3 py-2 my-auto subtitle">Мы выдаем займы под залог любых авто,
                    мотоциклов, спецтехники или грузовиков.</p>
            </div>
        </div>
        <div class="row row-cols-5">
            <div class="col">
                <div class="rounded-xl py-3 h-100 shadow">
                    <a href="" class="d-flex flex-column h-100">
                        <img src="img/card_car.png" alt="" class="mw-100 mb-3">
                        <p class="mt-auto text-main h5 pl-3">
                            Легковые автомобили
                        </p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="rounded-xl py-3 h-100 shadow">
                    <a href="" class="d-flex flex-column h-100">
                        <img src="img/card_truck.png" alt="" class="mw-100 mb-3">
                        <p class="mt-auto text-main h5 pl-3">
                            Грузовые автомобили
                        </p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="rounded-xl py-3 h-100 shadow">
                    <a href="" class="d-flex flex-column h-100">
                        <img src="img/card_moto.png" alt="" class="mw-100 mb-3">
                        <p class="mt-auto text-main h5 pl-3">
                            Мотоциклы
                        </p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="rounded-xl py-3 h-100 shadow">
                    <a href="" class="d-flex flex-column h-100">
                        <img src="img/card_spec.png" alt="" class="mw-100 mb-3">
                        <p class="mt-auto text-main h5 pl-3">
                            Спецтехника
                        </p>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="rounded-xl py-3 h-100 shadow">
                    <a href="" class="d-flex flex-column h-100">
                        <img src="img/card_business.png" alt="" class="mw-100 mb-3">
                        <p class="mt-auto text-main h5 pl-3">
                            Коммерческий транспорт
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 pt-3 pb-5">
                Получить деньги под ПТС может владелец автомобиля, который указан в паспорте транспортного средства.
                Оформлять кредитный договор по доверенности нельзя, так как доверитель в любой момент может ее отозвать,
                что сделает сделку незаконной.
            </div>
        </div>
    </div>
</section>