<section id="types">
    <div class="row">
        <div class="col-7">
            <h1>Автоломбард под залог ПТС любой техники в городе Москва </h1>
        </div>
        <div class="col-5 bd-callout bd-callout-main">
            <p>Мы выдаем займы под залог любых авто, мотоциклов, спецтехники или грузовиков.</p>
        </div>
    </div>
    <div class="row row-cols-5">
        <div class="card">
            <a href="">
                <img src="img/card_car.png" alt="">
                Легковые автомобили
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="img/card_truck.png" alt="">
                Грузовые автомобили
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="img/card_moto.png" alt="">
                Мотоциклы
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="img/card_spec.png" alt="">
                Спецтехника
            </a>
        </div>
        <div class="card">
            <a href="">
                <img src="img/card_business.png" alt="">
                Коммерческий транспорт
            </a>
        </div>
    </div>
    <div class="row">
        Кредитование без сдачи автомобиля в Москве – это возможность получить крупную сумму под низкий процент, не
        жертвуя при этом собственным комфортом. В случае, когда автозалог оформляется под паспорт транспортного
        средства, машина остается у хозяина. Он может пользоваться автомобилем без ограничений для собственных нужд и
        использовать в бизнесе.
    </div>

</section>