@import './bootstrap_hux.scss';
@import './bootstrap/bootstrap.scss';
@import './media.scss';
@import './slick.scss';
@import './slick-theme.scss';
@import './nouislider.scss';
@import './fonts.scss';
@import './components/advantages.scss';
@import './components/big_form.scss';
@import './components/bottom_cta.scss';
@import './components/bottom_form.scss';
@import './components/calc.scss';
@import './components/faq.scss';
@import './components/first_screen.scss';
@import './components/footer.scss';
@import './components/header_nav.scss';
@import './components/horisontal_form.scss';
@import './components/requirements.scss';
@import './components/steps.scss';
@import './components/terms.scss';
@import './components/types.scss';

body {
  font-family: Gilroy, Arial, -apple-system !important;
  color: #3b3d46;
  @include media-tablet_portrait-max {
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
}
h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}
.text-dashed {
  border-bottom: dashed 1px;
}

h1,
.h1 {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: bold;
  @include media-tablet_portrait-max {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
h2,
.h2 {
  font-size: 2.6rem;
  line-height: 3.1rem;
  @include media-tablet_portrait-max {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}
.subtitle {
  font-size: 1.2rem;
  line-height: 1.6rem;
  @include media-tablet_portrait-max {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}
.smaller {
  font-size: 0.8rem;
  line-height: 1.2rem;
  @include media-tablet_portrait-max {
    font-size: 0.7rem;
    line-height: 1rem;
  }
}
.semibold {
  font-weight: 600;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.bd-callout {
  border: solid 0 transparent;
  border-left-width: 0.15rem;
}
hr.lil-hr {
  width: 60px;
  height: 0.15rem;
  border: none;
  margin: 1.5rem auto;
  @include media-tablet_portrait-max {
    margin: 1rem auto;
  }
}
@each $color, $value in $theme-colors {
  .bd-callout-#{$color} {
    border-left-color: $value;
    @include media-tablet_portrait-max {
      border-left-color: transparent;
    }
  }
  hr.lil-hr-#{$color} {
    background-color: $value;
  }
}
.shadow {
  box-shadow: 0px 3px 20px #eaecef !important;
}
.shadow-top-0 {
  box-shadow: 0px auto 20px #eaecef !important;
}

button.btn,
a.btn {
  padding: 1rem;
  font-weight: 600;
  @include media-mobile_small-max {
    font-size: 0.9rem;
  }
}
.form-control {
  height: 3.5rem;
  border-color: #e6e6e6;
  padding: 1rem;
  &::-webkit-input-placeholder {
    color: #3b3d46;
    opacity: 0.6;
  }
  &::-moz-placeholder {
    color: #3b3d46;
    opacity: 0.6;
  } /* Firefox 19+ */
  &:-moz-placeholder {
    color: #3b3d46;
    opacity: 0.6;
  } /* Firefox 18- */
  &:-ms-input-placeholder {
    color: #3b3d46;
    opacity: 0.6;
  }
  @include media-tablet_portrait-max {
    font-size: 0.8rem;
  }
}

.rounded-xl {
  border-radius: 0.5rem !important;
}
.subcard {
  min-width: 70px;
  height: 70px;
  padding: 15px;
  text-align: center;
  + p {
    align-self: center;
  }
}
.slick-dots li button::before {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #e6e6e6;
}
.slick-dots li.slick-active button::before {
  color: $main;
}

.__phone:after {
  content: '*';
  position: absolute;
  left: 155px;
  @include media-tablet_portrait-max {
    left: 135px;
  }
  top: 15px;
  color: red;
  font-size: 20px;
}
.__phone.__calc_phone:after {
  top: 115px;
  left: 205px;
  @include media-tablet_landscape-max {
    left: 155px;
  }
  @include media-tablet_portrait-max {
    left: 135px;
  }
}
.__phone.__hidden:after {
  opacity: 0;
}
.close {
  right: 0;
  top: 0;
  border: 0;
  background: none;
  svg {
    max-width: 20px;
  }
}
.cities {
  column-gap: 3em;
  columns: 4 auto;
  div {
    display: inline-block;
    width: 100%;
  }
}
